*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 60px;
    width: 800px;
    background-color:black
}

.nav-ul {
    list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px
}

.bannerfoto {
    width: 800px;
	height: 400px;
    object-fit: cover;
}

#bannertexthome {
    position: absolute;
    top: 250px;
	transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 400px;
    margin-right: 10px;
    
}

.overzichtsections {
    padding-left: 50px;
    padding-bottom: 50px;
}

.overzichtfotos {
    width: 400px;
    height: 400px;
    margin-bottom: 30px;
}

.overzichttext {
    
}


#overzichtfoto1 {
    margin-top: 70px;
}

.footers {
    padding-left: 50px;
    margin-bottom:20px;
    
}

#bannertexthtml {
    position: absolute;
    top: 40%;
    justify-content: center;
	transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 415px;
    color:azure
}

.inleidingblog {
    margin-left:220px;
    margin-top: 100px;
    margin-bottom: 120px;

}

.sectionhtml {
    margin-left: 150px;
    margin-bottom: 80px;
}

.tussentitleblog {
    margin-bottom: 30px;
    margin-top: 20px;
}
#fotohtmltags {
    width: 450px;
    height:300px;
    margin-bottom: 50px;
    margin-left: 150px;
   
}

#fotoatributes {
    margin-top: 50px;
}

#bannertextcss {
    position: absolute;
    top: 40%;
    justify-content: center;
	transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 415px;
    color:azure
}

.sectioncss {
    margin-left: 150px;
    margin-bottom: 80px;
}

.textblog {
    margin-bottom: 60px;
    margin-top: 20px;
}

.csspics {
    width: 500px;
    height: 230px;
}

#bannertextsuperhero {
    position: absolute;
    top: 40%;
    justify-content: center;
	transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 415px;
    color:azure
}

#inleidingblogsuperhero {
    margin-left:220px;
    margin-top: 450px;
    margin-bottom: 120px;

}

.superheropics {
  margin-left: 130px;
  margin-bottom: 60px;
  width: 500px;
}